.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
    border: 8px solid gray;
}
.sector {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 3px solid gray;
}
.grid_sector:nth-child(odd){
    background-color: rgb(247, 247, 247);
}
.grid_sector:nth-child(even){
    background-color: white;
}
.block {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
    outline: solid lightgray .5px;
}
.input_box {
    background-color: transparent;
    border: none;   
    width: 1em;
    height: 1em;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.block:hover {
    background-color: darkgray;
}
.input[type="number"]:focus {
    background-color: #E8E8E8;
}
.value_0 {
    color: black;
}
.value_1 {
    color: rgb(78, 78, 212);
}
.value_2 {
    color: salmon;
}
.value_3 {
    color: rgb(246, 138, 250);
}
.value_4 {
    color: seagreen;
}
.value_5 {
    color: rgb(238, 157, 8);
}
.value_6 {
    color: rgb(255, 89, 29);
}
.value_7 {
    color: rgb(255, 0, 149);
}
.value_8 {
    color: rgb(177, 4, 4);
}
.value_9 {
    color: rgb(163, 61, 163);
}
.original {
    
}
.clue {
   
 }
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
#grid_container{
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 2em;
    font-family: sans-serif;
}
#possibles {
    font-family: sans-serif;
    width: fit-content;
    height: fit-content;
}
