.grid {
    display:grid;
    grid-template-columns: 12em 12em 12em;
    grid-template-rows: 12em 12em 12em;
}
.sector {
    display:grid;
    grid-template-columns: 4em 4em 4em;
    grid-template-rows: 4em 4em 4em;
    border: solid black 1px;
}
.grid_sector:nth-child(odd){
    background-color: lightblue;
}
.grid_sector:nth-child(even){
    background-color: white;
}
.grid_sector {

}
.block {
    border: .2px solid black;
    height: 3.9em;
    width: 3.9em;
}
.input_box {
    background-color: transparent;
    border: none;   
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}
input[type="number"]:hover {
    background-color: lightgray;
    
}
input[type="number"]:focus {
    background-color: #E8E8E8;
}
.value_0 {
    color: black;
}
.value_1 {
    color: blue;
}
.value_2 {
    color: salmon;
}
.value_3 {
    color: rgb(246, 138, 250);
}
.value_4 {
    color: seagreen;
}
.value_5 {
    color: orange;
}
.value_6 {
    color: orangered;
}
.value_7 {
    color: red;
}
.value_8 {
    color: maroon;
}
.value_9 {
    color: purple;
}
.original {
    background-color: #E8E8E8;
    overflow:hidden;
}
#grid_container{
    padding: .5em;
    background-color: black;
    width: fit-content;
}
